version: '3.8'

services:

  rabbitmq:
    image: rabbitmq:3-management
    hostname: rabbitmq
    ports:
      - "5672:5672" 
      - "15672:15672" 
    

  # Django App Service
  web:
    build: . 
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/usr/src/app
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq 
    environment:
      
      CELERY_BROKER_URL: amqp://guest:guest@rabbitmq:5672/

  # Celery Worker Service
  celery_worker:
    build: .
    command: celery -A alx_travel_app worker -l info
    volumes:
      - .:/usr/src/app
    depends_on:
      - rabbitmq
      - web 
    environment:
      CELERY_BROKER_URL: amqp://guest:guest@rabbitmq:5672/